body {
      font-family: Nunito;
      background-color: #4a9e961f;
        background-color: #111;
}

.container{
position: relative;
}
.design-index{
  padding: 20px 10px 20px 32px;
  background-color: #111;

}
.text-style{
  font-size:40px;
  cursor:pointer;
  color:#818181;
  font-weight: 500;
}

.loginline{
  border-bottom: 50px;
  border-color: #818181;
  border-bottom-style: solid;
  position:relative;
  border-width:thin;
}

.loginline2{
  padding: 10px;
  border-bottom: 50px;
  border-color: #818181;
  border-bottom-style: solid;
  position:relative;
  border-width:thin;
}
.design-index2{
  position: relative;
  z-index: 0;
}
.carouselContainer {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.carouselImgs {
  width: 100%;
  height: 100%;
  animation: fade 1.3s;
  display: none;
  text-align: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.prev, .next {
  position: absolute;
  top: 48%;
  cursor: pointer;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  transition: 0.5s ease;
  border-radius: 20px;
  user-select: none;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  box-sizing: border-box;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
